/*
    Name: Graviton Dark
    Author: Marc Espín Sanz
		Forked from Michael Kaminsky (http://github.com/mkaminsky11)
*/
.cm-s-night.CodeMirror {
	background-color: var(--editorBackgroundColor) !important;
	color: #f8f8f2 !important;
	border: none;
}
.cm-s-night {
	.CodeMirror-gutters {
		background-color: var(--editorBackgroundColor) !important;
		color: #f8f8f2 !important;
		border: none;
		color: #282a36;
	}
	.cm-header {
		color: rgb(241, 187, 37);
	}
	.cm-quote {
		color: rgb(178, 49, 211);
	}
	.CodeMirror-cursor {
		border-left: solid thin #f8f8f0;
	}
	.CodeMirror-linenumber {
		color: #6D8A88;
	}
	.CodeMirror-selected {
		background: rgba(255, 255, 255, 0.15);
		border-radius: 3px;
	}
	.CodeMirror-line {
		&::selection {
			background: rgba(255, 255, 255, 0.10);
		}
		>span {
			&::selection {
				background: rgba(255, 255, 255, 0.10);
			}
			>span {
				&::selection {
					background: rgba(255, 255, 255, 0.10);
				}
				&::-moz-selection {
					background: rgba(255, 255, 255, 0.10);
				}
			}
			&::-moz-selection {
				background: rgba(255, 255, 255, 0.10);
			}
		}
		&::-moz-selection {
			background: rgba(255, 255, 255, 0.10);
		}
	}
	span.cm-comment {
		color: #858a99;
	}
	span.cm-string {
		color: #A5E572;
	}
	span.cm-string-2 {
		color: #A5E572;
	}
	span.cm-number {
		color: #bd93f9;
	}
	span.cm-variable {
		color: #FDBD5D;
	}
	span.cm-variable-2 {
		color: white;
	}
	span.cm-def {
		color: #FF6666;
	}
	span.cm-operator {
		color: rgb(241, 187, 37);
	}
	span.cm-keyword {
		color: #9969FF;
	}
	span.cm-atom {
		color: #bd93f9;
	}
	span.cm-meta {
		color: #f8f8f2;
	}
	span.cm-tag {
		color: rgb(241, 187, 37);
	}
	span.cm-attribute {
		color: #67FF8D;
	}
	span.cm-qualifier {
		color: #67FF8D;
	}
	span.cm-property {
		color: #69A5FF;
	}
	span.cm-builtin {
		color: #67FF8D;
	}
	.cm-builtin {
		color: rgb(19, 193, 247);
	}
	.cm-link {
		color: rgb(19, 193, 247);
	}
	span.cm-variable-3 {
		color: #ffb86c;
	}
	span.cm-type {
		color: #ffb86c;
	}
	.CodeMirror-activeline-background {
		background: rgba(255,255,255,0.1);
		outline:1px solid rgb(158, 158, 158);
	}
	.CodeMirror-matchingbracket {
		outline: 1px solid rgb(241, 187, 37) !important;
		color: inherit !important;
	}
	.highlight {
		color: orange;
	}
	.CodeMirror-foldmarker {
		color: white;
		text-shadow: 0px 1px 4px rgba(255,255,255,0.4);
	}
	.CodeMirror-foldgutter-open {
		&:after {
			color: white;
		}
	}
	.CodeMirror-foldgutter-folded {
		&:after {
			color: white;
		}
	}
	.cm-tab {
		border-left: 1px solid rgb(209, 209, 209);
	}
	.cm-negative {
		color: rgb(255, 0, 119);
	}
	.cm-positive {
		color: rgb(178, 49, 211);
	}
	.cm-header {
		font-weight: bold;
	}
	.cm-strong {
		font-weight: bold;
	}
	.cm-em {
		font-style: italic;
	}
	.cm-link {
		text-decoration: underline;
	}
	.cm-strikethrough {
		text-decoration: line-through;
	}
	
}