node_modules/
dist/
.cache
dist_parcel
assets/build.json
plugins/**/node_modules
.cache/**/node_modules
dist/**/node_modules
pluginsDist
dist_ui
npm-debug.log
dist_main
.DS_Store
.idea/
.vscode
.vs
dist_test
dist_browser
dist_server
remote-plugin-temp
pluginsBrowserDist
dist_docs
dist_browser_plugins
temp_remote_plugin
yarn-error.log