@keyframes windowOpens {
	0% {
		transform: scale(0.985) translateY(10px);
	}
	100% {
		transform: scale(1) translateY(0px);
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes notificationOpens {
	0% {
		transform: scale(0.98) translateY(10px);
		opacity: 0.4;
	}
	100% {
		transform: scale(1) translateY(0px);
		opacity: 1;
	}
}

@keyframes notificationCloses {
	0% {
		transform: scale(1) translateY(0px);
		opacity: 1;
	}
	100% {
		transform: scale(0.985) translateY(12px);
		opacity: 0;
	}
}

@keyframes tabCloses {
	0% {
		transform: translateY(0px);
		opacity: 1;
	}
	100% {
		opacity: 0;
		transform: translateY(37px);
		min-width: 0px;
		width: 0px;
		max-width: 0px;
	}
}

@keyframes tabEditorCloses {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@keyframes tabOpens {
	0% {
		opacity: 0;
		min-width: 0px;
		width: 0px;
		max-width: 0px;
	}
	100% {
		opacity: 1;
		min-width: 125px;
		width: 125px;
		max-width: 125px;
	}
}
