/*
	Name: Arctic
	Original by Peter Kroon <plakroon@gmail.com>
*/

.cm-s-arctic.CodeMirror {
	color: rgb(70, 70, 70);
	background-color: transparent;
}
.cm-s-arctic {
	.cm-tab {
		border-left: 1px solid rgb(195, 195, 195);
	}
	pre {
		color: rgb(20, 20, 20);
	}
	div.CodeMirror-selected,
	.CodeMirror-lsp-highlight {
		background: rgba(78, 153, 252, 0.281);
		border-radius: 3px;
	}
	.CodeMirror-line {
		&::selection {
			background: #cfc;
		}
		> span {
			&::selection {
				background: #cfc;
			}
			> span {
				&::selection {
					background: #cfc;
				}
				&::-moz-selection {
					background: #cfc;
				}
			}
			&::-moz-selection {
				background: #cfc;
			}
		}
		&::-moz-selection {
			background: #cfc;
		}
		&.CodeMirror-merge-line-deleted {
			background: rgba(220, 62, 62, 0.23);
		}

		&.CodeMirror-merge-line-inserted {
			background: rgb(36, 232, 36, 0.35);
		}
	}
	.CodeMirror-gutters {
		background: white;
		color: #333;
	}
	.CodeMirror-activeline .CodeMirror-linenumber {
		color: black;
	}
	.CodeMirror-linenumber {
		color: #aaa;
	}
	.CodeMirror-cursor {
		border-left: 2px solid #222;
	}
	.cm-keyword {
		color: #6262ff;
	}
	.cm-atom {
		color: #f90;
	}
	.cm-number {
		color: #ca7841;
	}
	.cm-def {
		color: #8da6ce;
	}
	span.cm-variable-2 {
		color: #690;
	}
	span.cm-tag {
		color: rgb(0, 75, 145);
	}
	span.cm-variable-3 {
		color: rgb(0, 75, 145);
	}
	span.cm-def {
		color: rgb(0, 75, 145);
	}
	span.cm-type {
		color: rgb(0, 75, 145);
	}
	.cm-variable {
		color: rgb(0, 75, 145);
	}
	.cm-qualifier {
		color: #690;
	}
	.cm-operator {
		color: #cda869;
	}
	.cm-comment {
		color: #777;
		font-weight: normal;
	}
	.cm-string {
		color: rgb(11, 97, 179);
	}
	.cm-property {
		color: rgb(228, 0, 87);
	}
	.cm-string-2 {
		color: #bd6b18;
	}
	.cm-meta {
		color: #000;
	}
	.cm-builtin {
		color: #9b7536;
	}
	.cm-tag {
		color: #997643;
	}
	.cm-attribute {
		color: #ff8800;
	}
	.cm-header {
		color: #ff6400;
	}
	.cm-hr {
		color: #aeaeae;
	}
	.cm-link {
		color: #ad9361;
		font-style: italic;
		text-decoration: none;
	}
	.cm-error {
		border-bottom: 1px solid red;
	}
	.CodeMirror-activeline-background {
		background: rgba(120, 178, 253, 0.281);
	}
	.CodeMirror-matchingbracket {
		background: rgba(255, 25, 25, 0.3);
		border-radius: 1px;
	}
	.CodeMirror-matchingtag {
		background: rgb(209, 209, 209);
	}
	.CodeMirror-foldmarker {
		color: black;
		text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.4);
	}
	.CodeMirror-foldgutter-open {
		&:after {
			color: black;
		}
	}
	.CodeMirror-foldgutter-folded {
		&:after {
			color: black;
		}
	}
}
