@use './arctic.theme.scss';
@use './night.theme.scss';
@use './codemirror.reset.scss';
@use './animations.scss';

body {
	padding: 0px;
	margin: 0px;
	max-width: 100%;
	max-height: 100%;
	overflow: hidden;
	--puffinFont: mainFont;
	background: var(--bodyBackground);
	--codeFont: JetBrainsMono;
	*:not(.xterm) {
		outline: 0;
		text-rendering: optimizeLegibility !important;
		-webkit-font-smoothing: subpixel-antialiased !important;
		-webkit-box-sizing: default !important;
		box-sizing: default !important;
		font-family: var(--puffinFont);
	}
	.xterm * {
		font-family: var(--codeFont) !important;
	}
}
@font-face {
	font-family: mainFont;
	src: url(../../assets/Inter-Regular.woff2) format('woff2');
}
@font-face {
	font-family: JetBrainsMono;
	src: url(../../assets/JetBrainsMono-Regular.woff2) format('woff2');
}

html {
	*::-webkit-scrollbar {
		transition: 0.1s;
		width: 10px;
		height: 10px;
		background: transparent;
	}
	* ::-webkit-scrollbar-track {
		background: transparent;
	}
	* ::-webkit-scrollbar-thumb {
		border-radius: 0.2rem;
		transition: 0.1s;
		background: var(--scrollbarBackground);
	}
	* ::-webkit-scrollbar-thumb:hover {
		transition: 0.1s;
		background: var(--scrollbarHoveringBackground);
	}
	* ::-webkit-scrollbar-corner {
		visibility: hidden !important;
		opacity: 0 !important;
		height: 0 !important;
		width: 0 !important;
		display: none !important;
	}
	* ::-webkit-resizer {
		cursor: ew-resize;
	}
}
