/*
	Name: Night
	Original by Michael Kaminsky (http://github.com/mkaminsky11)
*/
.cm-s-night.CodeMirror {
	background-color: transparent !important;
	color: #f8f8f2 !important;
	border: none;
}
.cm-s-night {
	pre {
		color: gray;
	}
	.CodeMirror-gutters {
		background-color: #191919 !important;
		border: none;
		color: #282a36;
	}
	.cm-error {
		border-bottom: 1px solid red;
	}
	.cm-header {
		color: rgb(241, 187, 37);
	}
	.cm-quote {
		color: rgb(178, 49, 211);
	}
	.CodeMirror-cursor {
		border-left: solid thin #f8f8f0;
	}
	.CodeMirror-activeline .CodeMirror-linenumber {
		color: white;
	}
	.CodeMirror-linenumber {
		color: #6d8a88;
	}
	.CodeMirror-lsp-highlight {
		background: rgba(241, 187, 37, 0.2);
	}
	.CodeMirror-selected {
		background: rgba(255, 255, 255, 0.1);
		border-radius: 3px;
	}
	.CodeMirror-line {
		&::selection {
			background: rgba(255, 255, 255, 0.1);
		}
		> span {
			&::selection {
				background: rgba(255, 255, 255, 0.1);
			}
			> span {
				&::selection {
					background: rgba(255, 255, 255, 0.1);
				}
			}
		}
		&.CodeMirror-merge-line-deleted {
			background: rgba(236, 0, 0, 0.13);
		}

		&.CodeMirror-merge-line-inserted {
			background: rgb(153, 214, 153, 0.3);
		}
	}
	span.cm-comment {
		color: #858a99;
	}
	span.cm-string {
		color: #a5e572;
	}
	span.cm-string-2 {
		color: #a5e572;
	}
	span.cm-number {
		color: #bd93f9;
	}
	span.cm-variable {
		color: #fdbd5d;
	}
	span.cm-variable-2 {
		color: white;
	}
	span.cm-def {
		color: #ff6666;
	}
	span.cm-operator {
		color: rgb(241, 187, 37);
	}
	span.cm-keyword {
		color: #9969ff;
		font-style: italic;
	}
	span.cm-atom {
		color: #bd93f9;
	}
	span.cm-meta {
		color: #f8f8f2;
	}
	span.cm-tag {
		color: rgb(241, 187, 37);
	}
	span.cm-attribute {
		color: #67ff8d;
	}
	span.cm-qualifier {
		color: #67ff8d;
	}
	span.cm-property {
		color: #69a5ff;
	}
	span.cm-builtin {
		color: #67ff8d;
	}
	.cm-builtin {
		color: rgb(19, 193, 247);
	}
	.cm-link {
		color: rgb(19, 193, 247);
	}
	span.cm-variable-3 {
		color: #ffb86c;
	}
	span.cm-type {
		color: #ffb86c;
	}
	.CodeMirror-activeline-background {
		background: rgba(255, 255, 255, 0.1);
	}
	.CodeMirror-matchingbracket {
		outline: 0;
		background: rgba(255, 255, 255, 0.2);
		color: inherit;
	}
	.highlight {
		color: orange;
	}
	.CodeMirror-foldmarker {
		color: white;
		text-shadow: 0px 1px 4px rgba(255, 255, 255, 0.4);
	}
	.CodeMirror-foldgutter-open {
		&:after {
			color: white;
		}
	}
	.CodeMirror-foldgutter-folded {
		&:after {
			color: white;
		}
	}
	.cm-tab {
		border-left: 1px solid rgb(75, 75, 75);
	}
	.cm-negative {
		color: rgb(255, 0, 119);
	}
	.cm-positive {
		color: rgb(178, 49, 211);
	}
	.cm-header {
		font-weight: bold;
	}
	.cm-strong {
		font-weight: bold;
	}
	.cm-em {
		font-style: italic;
	}
	.cm-link {
		text-decoration: underline;
	}
	.cm-strikethrough {
		text-decoration: line-through;
	}
}
