.background_window {
   transition: 0.05s;
   background: rgba(0, 0, 0, 0.3);
   top: 0;
   left: 0;
   height: 100%;
   width: 100%;
   position: fixed;
   overflow: hidden;
}

.body_window {
   animation: window_up linear 0.1s;
   color: var(--white-black);
   font-size: 17px;
   padding: 12px;
   overflow-y: scroll;
   border-radius: var(--window-radius);
   box-shadow: 0px 3px 15px var(--shadows);
   width: 85%;
   height: 85%;
   position: absolute;
   text-align: left;
   background: var(--secondaryColor);
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   border: 1px solid var(--window-border-color);
   -webkit-user-select: none;
}

.body_window_full {
   color: var(--white-black);
   font-size: 17px;
   margin: 0 auto;
   width: 100%;
   height: 100%;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   position: fixed;
   text-align: left;
   background: var(--secondaryColor);
   -webkit-user-select: none;
}

@keyframes window_up {
   from {
      transform: translate3d(0, 0, 0) translate(-50%, -48%);
   }
   to {
      transform: translate3d(0, 0, 0) translate(-50%, -50%);
   }
}

.body_window_full>* {
   padding: 30px;
   user-select: none;
}

.body_window > span {
   line-height: 30px;
   font-size: 12px;
   color: var(--white-black);
}

.body_window p {
   font-size: 14px;
}