/*

    Name: Graviton Dark
    Author: Marc Espin Sanz
		Forked from Michael Kaminsky (http://github.com/mkaminsky11)

*/
.cm-s-default.CodeMirror, .cm-s-default .CodeMirror-gutters {
  background-color: var(--editorBackgroundColor) !important;
  color: #f8f8f2 !important;
  border: none;
}

.cm-s-default .cm-header {color: rgb(241, 187, 37);}
.cm-s-default .cm-quote {color: rgb(178, 49, 211);}
.cm-negative {color: rgb(255, 0, 119);}
.cm-positive {color: rgb(178, 49, 211);}
.cm-header, .cm-strong {font-weight: bold;}
.cm-em {font-style: italic;}
.cm-link {text-decoration: underline;}
.cm-strikethrough {text-decoration: line-through;}

.cm-s-default .CodeMirror-gutters { color: #282a36; }
.cm-s-default .CodeMirror-cursor { border-left: solid thin #f8f8f0; }
.cm-s-default .CodeMirror-linenumber { color: #6D8A88; }
.cm-s-default .CodeMirror-selected { background: rgba(255, 255, 255, 0.15); border-radius: 3px; }
.cm-s-default .CodeMirror-line::selection, .cm-s-default .CodeMirror-line > span::selection, .cm-s-default .CodeMirror-line > span > span::selection { background: rgba(255, 255, 255, 0.10); }
.cm-s-default .CodeMirror-line::-moz-selection, .cm-s-default .CodeMirror-line > span::-moz-selection, .cm-s-default .CodeMirror-line > span > span::-moz-selection { background: rgba(255, 255, 255, 0.10); }
.cm-s-default span.cm-comment { color: #858a99; }
.cm-s-default span.cm-string, .cm-s-default span.cm-string-2 { color: #f1fa8c; }
.cm-s-default span.cm-number { color: #bd93f9; }
.cm-s-default span.cm-variable { color: rgb(203, 108, 226);  }
.cm-s-default span.cm-variable-2 { color: white; }
.cm-s-default span.cm-def { color: rgb(178, 49, 211);}
.cm-s-default span.cm-operator { color: rgb(241, 187, 37);  }
.cm-s-default span.cm-keyword { color: rgb(241, 187, 37); }
.cm-s-default span.cm-atom { color: #bd93f9; }
.cm-s-default span.cm-meta { color: #f8f8f2; }
.cm-s-default span.cm-tag { color: rgb(241, 187, 37);  }
.cm-s-default span.cm-attribute { color: #67FF8D; }
.cm-s-default span.cm-qualifier { color: #67FF8D; }
.cm-s-default span.cm-property { color:rgb(62, 203, 238);}
.cm-s-default span.cm-builtin { color: #67FF8D; }
.cm-s-default .cm-builtin {color: rgb(19, 193, 247);}
.cm-s-default .cm-link {color: rgb(19, 193, 247);}
.cm-s-default span.cm-variable-3, .cm-s-default span.cm-type { color: #ffb86c; }
.cm-s-default .CodeMirror-activeline-background { background: rgba(255,255,255,0.1); }
.cm-s-default .CodeMirror-matchingbracket { outline:1px solid rgb(241, 187, 37) !important; color: inherit !important; }

.highlight {
  color: orange;
}