/*
  MDN-LIKE Theme - Mozilla
  Ported to CodeMirror by Peter Kroon <plakroon@gmail.com>
  Report bugs/issues here: https://github.com/codemirror/CodeMirror/issues
  GitHub: @peterkroon

  The mdn-like theme is inspired on the displayed code examples at: https://developer.mozilla.org/en-US/docs/Web/CSS/animation
*/
.cm-s-lightui.CodeMirror { color: #999; background-color: var(--editorBackgroundColor); }
.cm-s-lightui div.CodeMirror-selected { background: rgba(78, 153, 252, 0.281); }
.cm-s-lightui .CodeMirror-line::selection, .cm-s-lightui .CodeMirror-line > span::selection, .cm-s-lightui .CodeMirror-line > span > span::selection { background: #cfc; }
.cm-s-lightui .CodeMirror-line::-moz-selection, .cm-s-lightui .CodeMirror-line > span::-moz-selection, .cm-s-lightui .CodeMirror-line > span > span::-moz-selection { background: #cfc; }

.cm-s-lightui .CodeMirror-gutters { background: var(--editorBackgroundColor);  color: #333; }
.cm-s-lightui .CodeMirror-linenumber { color: #aaa; padding-left: 8px; }
.cm-s-lightui .CodeMirror-cursor { border-left: 2px solid #222; }

.cm-s-lightui .cm-keyword { color: #6262FF; }
.cm-s-lightui .cm-atom { color: #F90; }
.cm-s-lightui .cm-number { color:  #ca7841; }
.cm-s-lightui .cm-def { color: #8DA6CE; }
.cm-s-lightui span.cm-variable-2, .cm-s-lightui span.cm-tag { color: #690; }
.cm-s-lightui span.cm-variable-3, .cm-s-lightui span.cm-def, .cm-s-lightui span.cm-type {color:rgb(0, 75, 145); }

.cm-s-lightui .cm-variable { color:rgb(0, 75, 145); }

.cm-s-lightui .cm-qualifier { color: #690; }

.cm-s-lightui .cm-operator { color: #cda869; }
.cm-s-lightui .cm-comment { color:#777; font-weight:normal; }
.cm-s-lightui .cm-string { color:rgb(0, 75, 145);  }
.cm-s-lightui .cm-property { color: rgb(228, 0, 87); } 
.cm-s-lightui .cm-string-2 { color:#bd6b18; } /*?*/
.cm-s-lightui .cm-meta { color: #000; } /*?*/
.cm-s-lightui .cm-builtin { color: #9B7536; } /*?*/
.cm-s-lightui .cm-tag { color: #997643; }
.cm-s-lightui .cm-attribute { color: #d6bb6d; } /*?*/
.cm-s-lightui .cm-header { color: #FF6400; }
.cm-s-lightui .cm-hr { color: #AEAEAE; }
.cm-s-lightui .cm-link { color:#ad9361; font-style:italic; text-decoration:none; }
.cm-s-lightui .cm-error { border-bottom: 1px solid red; }

div.cm-s-lightui .CodeMirror-activeline-background { background: #efefff; }
div.cm-s-lightui span.CodeMirror-matchingbracket { outline:1px solid grey; color: inherit; }

