/* Dialogs */

.dialog_body{
    position: absolute;
    color:var(--white-black);
    font-size: 17px;
    padding:17px;
    overflow-y: scroll;
    border-radius: var(--window-radius);
    box-shadow: 0px 3px 15px rgba(0,0,0,0.01);
    z-index: 85;
    width: 275px;
    min-height: 110px;
    max-height: auto;
    margin: 0;
    text-align: left;
    background: var(--secondaryColor);
    top: 45%;
    left: 50%;
    transform: translate(-50%, -45%);
    opacity: 1;
    overflow: auto;
} 

._dialog_button{
    font-weight: bold;
    float: right;
    width: auto;
    border: none; 
    margin-top: 15px;        
    padding:10px 16px;
    background: transparent;
    color: var(--white-black);
     box-sizing: border-box;
    position: relative;
    left:0px;
    bottom: 0px;
    display: inline-block;
    border-radius: 3px;
    font-family: _main_font;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 11px;
}

._dialog_button:hover{

    transition: 0.1s;
    cursor: pointer;
    background: var(--primaryColor);

}

/* Notifications */
.notificationBody{
    -webkit-app-region: no-drag; 
    animation: open_up linear 0.15s;
    width: 300px;
    min-height: 65px;
    height: auto;
    max-height: 310px;
    background: var(--notifications-background-color);
    position: relative;
    color: var(--white-black);
    padding: 12px;
    margin: 10px;
    border-radius: var(--notifications-window-radius);
    box-shadow: 1px 3px 7px rgba(0,0,0,40%);

}
@keyframes open_up{
  from{
    opacity: 0;
    bottom:-15px;
  }
  to{
    bottom:0px;
    opacity: 1  ;
  }
}
.notificationBody > div{

    position: relative;
    height: auto;
    max-height: 100px;
    overflow: auto;
}
.notificationBody > button{
    position: absolute;
    right: 10px;
    background: transparent;
    border: 0;
    cursor: pointer;
}
.notificationBody > button>svg>rect{
     fill:var(--white-black);
    stroke: transparent;
    border: 0;
}
.notificationBody > button:hover>svg >rect{
     stroke:var(--accentColor);
    border: 0;
}
.notificationBody>h1{
    font-size: 18px;
    line-height: 1px;
}
.notificationBody > div > p{
    font-size: 12px;
}
/* Floating Windows*/
.floating_window{
    animation: window_expand linear 0.2s;
    z-index: 50;
    top: 15px;
    right: 40px;
    transform: translate(20px, 40px);
    background: red;
    position:  fixed;
    min-width: 50px;
    min-height: 50px;
    background: var(--notifications-background-color);
    color: var(--white-black);
    padding: 10px;
    margin: 10px;
    border-radius: var(--notifications-window-radius);
    box-shadow: 1px 3px 7px rgba(0,0,0,40%);

}

@keyframes window_expand{
  from{
    opacity: 0;
    top:25px;
  }
  to{
    opacity: 1;
    top:15px;
  }
}
.floating_window *{
    overflow: auto;

}