#minimize:hover{
    background: red;
}
 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

}
 

button.dropbtn, svg.dropbtn {
    position: relative;
    display: inline-block;
    background-color: var(--primaryColor);
    color: var(--white-black);
    height: 29px;
    padding:0px 7px;
    margin: 0;
    font-size: 13px;
    border: none;
    cursor: pointer;
    z-index: 80;
    top:0;

}

svg.dropbtn:hover >path {
    fill: var(--white-black);
}

.dropbtn:hover, .dropbtn:focus {
    background-color:var(--widget-color);
}


.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    border-radius: 3px;
    position: fixed;
    background-color: var(--dropmenu-background-color);
    width: 160px;
    overflow: auto;
    z-index: 80;
    box-shadow: 1px 3px 9px 0px rgba(0,0,0,0.3);
    padding: 5px;
}


.dropdown-content a:not(.disabled-button) {
    font-size: 13px;
    z-index: 80;
    color: var(--white-black);
    padding: 7px 10px;
    width: auto;
    text-decoration: none;
    display: block;

}

.dropdown a:hover:not(.disabled-button) {
    color: var(--black-white);
    background-color: var(--accentColor);
    border-radius: 3px;
    cursor: pointer;
}
.dropdown-content >span.line{
    width: auto;
    display: block;
    height: 2px;
    margin: 5px 0px;
    border-radius: 50px;
    background: var(--widget-color);
}
.show {
    transition: 0.10s; 
    margin-top:-1px; 
    opacity: 1;
    display: block;
     z-index: 80;
     visibility: visible;
}

.hide{
    transition: 0.10s;
    margin-top: -4px;
    opacity: 0.3;
    z-index: 50;
    visibility: hidden;
}
.disabled-button{
     font-size: 13px;
    z-index: 80;
    color: var(--dropmenu-buttons-disabled-color);
    padding: 7px 10px;
    text-decoration: none;
    display: block;
}
#graphic_button{
    cursor: pointer;
    
}



@keyframes context_up{
  from{
    opacity: 0.3;
    transform: scale(0.95);
  }
  to{
    opacity: 1;
    transform: scale(1);

  }
}
#context_menu{
    animation: context_up linear 0.10s;
    border-radius: 3px;
    position: fixed;
    background-color: var(--dropmenu-background-color);
    width: 160px;
    overflow: auto;
    z-index: 100;
    box-shadow: 1px 3px 9px 0px rgba(0,0,0,0.3);
    padding: 5px;
}
#context_menu > button{
    border-radius: 3px;
    border: 0;
    font-size: 13px;
    z-index: 80;
    color: var(--white-black);
    background-color: var(--dropmenu-background-color);
    padding: 7px 10px;
    width: 100%;
    text-align: left;
    text-decoration: none;
    display: block;
}

#context_menu > button:hover {
    color: var(--black-white);
    background-color: var(--accentColor);
    border-radius: 3px;
    cursor: pointer;
}