#plugins_list{
overflow: auto;
width: 100%;
height: auto;
overflow: auto;
 white-space: nowrap;
}
#plugins_list > .plugin_div{
    transition: 0.12s;
    border-radius: 7px;
    padding: 10px;
    margin: 8px 3px;
    min-width: 80px;
    width: auto;
    background: var(--primaryColor);
    color:var(--white-black);
    transform: scale(1);
}
#plugins_list > .plugin_div:hover{
    transition: 0.12s;
   background: var(--widget-color);
    cursor: pointer;

}

#plugins_list > .plugin_div:active{
    transition: 0.12s;
    transform: scale(0.98);
}