:root{ /* Color pallete , themes will override this*/
	--primaryColor: #222222;
    --secondaryColor: #171717;
    --accentColor: #FD0054;
    --white-black: white;
    --black-white:white;
    --editor-background-color:black;
    --editor-font-size: 13px;
    --widget-color: #757474;
    --buttons-roundness:5px;
    --dropmenu-background-color:#3B3B3B;
    --dropmenu-buttons-disabled-color: lightgray;
    --titleBar-icons-color:white;
    --window-radius:12px;
    --notifications-background-color:#474747;
    --notifications-window-radius:5px;
}

@font-face {
    font-family: _main_font;
    src: url(../Inter-Regular.woff2),url(../Inter-SemiBold.woff2);
}
@font-face {
    font-family: hack;
    src: url(../Hack-Regular.ttf);
}
html{
   font-family: _main_font;
   font-weight: 550;
}
*{
    outline: 0;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}
.CodeMirror {
    z-index: 0;
    font-family: "hack"; /*--Default font-size for the editor */
    font-size: var(--editor-font-size);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.005);
}
body , head{
	margin: 0;
    padding: 0;
    background: var(--editor-background-color);
}
::-webkit-scrollbar {
    transition: 0.1s;
    width: 12px;
    height: 12px;
    background: transparent;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    transition: 0.15s;
    width: 5px !important;
    height: 5px !important;
    background: var(--widget-color);
}
::-webkit-scrollbar-thumb:hover {
    transition: 0.15s;
    background: var(--widget-color);
}
::-webkit-scrollbar-corner{
    visibility: hidden;
    opacity: 0;
    background: transparent;
}
p.error-on-boot{
    max-width: 500px;
    color:black;
    font-size: 18px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
div.error-on-boot{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}
button.error-on-boot{
    cursor: pointer;
    background: #444444;
    color:white;
    font-size: 17px;
    position: relative;
    padding: 13px;
    border:0;
    border-radius: 4px;
    display: inline-block;
}
button.error-on-boot:hover{
    background: #333333;
}
button.error-on-boot-factory{
    background: red;
    cursor: pointer;
    color:white;
    font-size: 17px;
    position: relative;
    padding: 13px;
    border:0;
    border-radius: 4px;
    display: inline-block;
}
button.error-on-boot-factory:hover{
    background: darkred;
}
#editor_content > #left-bar{
    position: fixed;
    left:0;
    width:180px;
    height: calc(100% - (30px));
    overflow: scroll;
    font-size:12px;
    color:var(--white-black);
    background: var(--primaryColor);
    -webkit-user-select: none;
}
#editor_content > #body-space > #tabs_bar{
    overflow: auto; 
    -webkit-user-select: none;
    font-size: 15px;
    height:auto;
    width: auto;
    background:var(--primaryColor);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    left:0;
    margin: 0px;
    padding: 0px;
    color:var(--white-black);
    overflow-x: overlay;
}
#editor_content > #body-space{
    font-size: var(--editor-font-size);
    background: var(--editor-background-color);
    position: relative;
    left:0px;
    right:0px;
    top:0px;
    margin: 0px 0px 0px 180px;
    height:  calc(100% - (30px));
    width: auto;
    color:var(--white-black);
    overflow: hidden;
}
#editor_content >#body-space > .code-space{
     height: calc(100% - (2px));
}
.flex{
    display: flex;
    flex-direction: row;
}
.flex >div{
    flex: 1;
}
#editor_content > #body-space >#tabs_bar > .tabs{
    position: relative;
    transition: 0.10s;
    color:var(--white-black);
    text-align: center;
    vertical-align: middle;
    height: 37px;
    white-space: nowrap;
    display: inline-block;
    background: var(--primaryColor);
}
#editor_content > #body-space >#tabs_bar > .tabs:hover{
    background: var(--widget-color);
}
#editor_content > #body-space >#tabs_bar >.tabs.selected{
    background: var(--secondaryColor);
}
#editor_content > #body-space >#tabs_bar >.tabs > p{
    overflow: hidden;
    display: inline-block;
    position: relative;
    font-size: 12px;
    min-width: 75px;
    max-width: 70%;
    white-space: nowrap;
    height: auto;
    line-height: 15px;
    top: 0px;
    left: 0px;
    margin-left: 13px;

}
#editor_content > #body-space >#tabs_bar > .tabs > .close_tab{
    position: relative;
    top:17%;
    display: inline-block;
    right:0;
    float: right;
    margin-right: 30px;
    vertical-align: center;
    position: relative;
    width: 5px;
    border: none;
    background: transparent;
    fill: var(--white-black);
}
#editor_content > #body-space >#tabs_bar > .tabs > .close_tab:hover{
    height: 10px;
    width:10px;
    border: none;
    cursor: pointer;
    fill: var(--accentColor);
    stroke: var(--accentColor);
}
#editor_content > #left-bar div.folder_list1{
    animation: directory_opening linear 0.1s;
    color: var(--white-black);
    border-radius: 70px;
    transform: translateX(3px);
    padding-left: 3px;
    transition: 0.10s;
    clear: both;
    white-space: nowrap;
    font-size: 12px;
    padding-top: 1px;
    padding-bottom: 4px;
    background: transparent;
    line-height: 0px;
    height: 20px;
    cursor: pointer;
    background: transparent;
}
#editor_content > #left-bar div.folder_list1:hover{
    transition: 0.1s;
    border-radius: 4px;
    background: var(--widget-color);
}
#editor_content > #left-bar div.folder_list2{
    animation: directory_opening linear 0.1s;
    color:var(--white-black);
    border-radius: 70px;
    transform: translateX(3px);
    padding-left: 3px;
    transition: 0.10s;
    clear: both;
    white-space: nowrap;
    font-size: 12px;
    padding-top: 1px;
    padding-bottom: 4px;
    background: transparent;
    line-height: 25px;
    height: 20px;
    cursor: pointer;
    transform: translateX(3px);
}
#editor_content > #left-bar div.folder_list2:hover{
    transition: 0.1s;
    border-radius: 4px;
    background: var(--widget-color);
}
@keyframes directory_opening{
  from{
    opacity: 0.5;
    transform: translateX(1px);
  }
  to{
     transform: translateX(3px);
    opacity: 1;

  }
}
#control-bar {
    -webkit-user-select: none;  
    -webkit-app-region: drag;
    position: relative;
    color: var(--white-black);
    height: 30px; 
    background-color: var(--primaryColor);
    padding: 0;
    margin: 0px; 
    list-style-type: none;
    overflow: hidden;
    font-family: _main_font;
    margin: 0;
}
#control-bar > .title {
color: var(--white-black);
 position: relative;
 top: 8px;
 left: 8px; 
 font-size: 12px;
}
#control-bar > #controls  {
 -webkit-app-region: no-drag;
 position: fixed;
 top: 0px;
 right: 0px;
 width: 143px;

}
#control-bar > .controls > button {
    padding: 3px 0px;
    height: 7px;
    width: 45px;
    margin: 0;  
    border: none;
    background: transparent;
}

#control-bar > .controls > button:hover { 
    background: var(--widget-color);
}
#control-bar > .controls > #minimize:hover >svg >rect { 
    fill: var(--white-black);
}
#control-bar > .controls > #maximize:hover >svg >rect { 
    stroke: var(--white-black);
}
#control-bar > .controls > #close:hover { 
    background: red;
}
#control-bar > .controls > #close:hover>svg>rect { 
    fill: white;
}
.Button1{
    font-family: _main_font;
    transition: 0.1s;
    border-radius: var(--buttons-roundness);
    width: auto;
    border: none;  
    padding:10px 20px;
    background: var(--secondaryColor);
    color: var(--white-black);
    box-sizing: border-box;
}
.Button1.visible{ 
    transition: 0.1s;
    background-color:var(--primaryColor);
}

.Button1:hover{
    transition: 0.1s;
    cursor: pointer;
    background: var(--widget-color);    
}
.Button1.red{
    background: red;
    color:white;
}
.Button1.red:hover{
    background: darkred;
    color: white; 
}
.Button1.disabled{
    pointer-events: none;
}
.window_title{
    font-size:25px; 
    font-weight:800;
    line-height:5px; 
    text-align:center;
}
.section{
    margin: 6px;
    padding: 10px;
    border-radius: 7px;
    background: var(--primaryColor);
}
context {
  position: absolute;
  background-color: var(--primaryColor);
  overflow: none;
  border-radius: 3px;
  display: none;
  z-index: 70;
  max-height: 300px;
  box-shadow: 0px 0px 12px 1px rgba(0,0,0,0.13);
  padding: 5px;
}
context .menuWrapper {
  overflow: auto;
  max-height: 300px;
}
context .menuWrapper::-webkit-scrollbar {
  width: 10px;
  height: 100%;
  background-color: var(--secondaryColor);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
context .menuWrapper::-webkit-scrollbar-thumb {
  background: var(--secondaryColor);
  border-radius: 3px;
  border: 3px solid transparent;
  background-clip: content-box;
  padding: 5px;
}
context .menuWrapper .option {
    height: 30px;
    font-size: 13px;
    z-index: 80;
    color: var(--white-black);
    background-color: transparent;
    padding: 5px 10px;
    width: 100%;
    text-decoration: none;
    display: block;
    border: 0;
    border-radius: 5px;
    text-align: left;
}
context  .menuWrapper .option.hover{
  background-color: var(--accentColor);
  color:var(--black-white);
}
context .menuWrapper .option:last-child{
  border-bottom: none;
}
