.emoji-medium {
	height: 17px;
	top: 8px;
	position: relative;
	user-select: none;
	margin: 0;
	padding: 0px;
}
.emoji-normal {
	height: 30px;
	top: 10px;
	position: relative;
	user-select: none;
	margin: 0;
	padding: 0;
}
.emoji-title {
	height: 50px;
	top: 10px;
	user-select: none;
}