.directory.moving {
	animation: slide_right linear 0.1s;
	transform: translateX(3px);
}
.explorer {
	div.directory {
		color: var(--primaryText);
		border-radius: 70px;
		transition: 0.05s;
		clear: both;
		white-space: nowrap;
		font-size: 12px;
		padding-left: 3px;
		padding-top: 1px;
		padding-bottom: 4px;
		padding-right: 8px;
		background: transparent;
		line-height: 0px;
		height: 20px;
		cursor: pointer;
		background: transparent;
		transform: scale(1);
		width: auto;
		float: left;
		white-space: nowrap;
		display: flex;
		p {
			padding-top: 3px;
			line-height: 3px;
			margin: auto;
			font-size: 12px;
		}
		&:hover {
			transition: 0.05s;
			border-radius: 4px;
			background: var(--widgetColor);
		}
		&:active {
			transition: 0.05s;
			transform: scale(var(--scalation));
		}
	}
}
.panel_button {
	color: var(--primaryText);
	border-radius: 70px;
	transition: 0.05s;
	font-size: 12px;
	cursor: pointer;
	background: transparent;
	width: auto;
	white-space: nowrap;
	display: flex;
	padding: 5px;
	border: 0;
	&:hover {
		transition: 0.05s;
		border-radius: 4px;
		background: var(--widgetColor);
	}
	&:active {
		transition: 0.05s;
		transform: scale(var(--scalation));
	}
}