.input1 {
	transition: 0.1s;
	border-radius: var(--buttons-roundness);
	max-width: 37px;
	height: 30px;
	border: none;
	padding: 5px 7px;
	background: var(--primaryColor);
	color: var(--white-black);
	box-sizing: border-box;
	position: relative;
	text-align: center;
	&:hover {
		transition: 0.1s;
		cursor: text;
		background: var(--widget-color);
	}
}
.input1.auto {
	min-width: 100% !important;
	max-width: 100% !important;
	text-align: left;
}
input[type="number"] {
	&::-webkit-outer-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
	&::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
	&::selection {
		background-color: var(--accentColor);
		color: var(--black-white);
	}
}
.input2 {
	padding: 6px;
	border: 0;
	background: transparent;
	color: var(--white-black);
}
.input3 {
	padding: 4px;
	border: 0;
	border-radius: 3px;
	box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
	background: var(--secondaryColor);
	max-width: 70px;
	color: var(--white-black);
}
.input4 {
	padding: 8px;
	border: 0;
	border-radius: 3px;
	box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
	background: var(--primaryColor);
	max-width: 125px;
	color: var(--white-black);
}