
.opened_window{
    transition: 0.35s;
    background: rgba(0,0,0,0.7);
    top:0;
    left:0;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 80;
}

.body_window{
    transition: 0.10s;
    color:var(--white-black);
    font-size: 17px;
    padding:20px;
    overflow-y: scroll;
    border-radius: 15px;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.01);
    z-index: 85;
    width: 50%;
    height: 80%;
    margin: 0;
    position: fixed;
    text-align: left;
    background: var(--secondaryColor);
    top: 45%;
    left: 50%;
    transform: translate(-50%, -45%);
    opacity: 1;
}
#theme_list{
overflow: auto;
width: 100%;
height: auto;
overflow: auto;
 white-space: nowrap;
}
.theme_div{
    scale:1;
    transition: 0.2s;
    border-radius: 7px;
    padding: 10px;
    margin: 5px;
    display: inline-block;
    min-width: 80px;
    width: auto;
    background: var(--primaryColor);
    color:var(--white-black);
}
.theme_div:hover{
    transition: 0.2s;
    background: var(--buttonTouch);
    cursor: pointer;

}
.Input1{
    transition: 0.1s;
    border-radius: var(--buttons-roundness);
    width: 35px;
    height: 30px;
    border: none;  
    padding:10px 10px;
    background: var(--primaryColor);
    color: var(--white-black);
    box-sizing: border-box;
}
.Input1:hover{
    transition: 0.1s;
    cursor: text;
    background: var(--buttonTouch);
}

#saveSettings{
    position: fixed;
    bottom: 13;
    right: 10;
}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
 
input[type="number"] {
    -moz-appearance: textfield;
}


.slider {
  -webkit-appearance: none;
  width: auto;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  border-radius: 50px;
  padding:0px 4px 0px 4px;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 18px;
  height: 18px;
  background: var(--primaryColor);
  cursor: pointer;
  border-radius: 50px;
}
