.dialog_body{
    transition: 0.10s;
    color:var(--white-black);
    font-size: 17px;
    padding:20px;
    overflow-y: scroll;
    border-radius: 15px;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.01);
    z-index: 85;
    width: 200px;
    height: 180px;
    margin: 0;
    position: fixed;
    text-align: left;
    background: var(--secondaryColor);
    top: 45%;
    left: 50%;
    transform: translate(-50%, -45%);
    opacity: 1;
    overflow: auto;
}
.button1_dialog{
     width: auto;
    border: none;  
    padding:10px 20px;
    margin:7px;
    background: var(--primaryColor);
    color: var(--white-black);
     box-sizing: border-box;
    position: relative;
    left:0px;
    bottom: 0px;
    display: inline-block;
    border-radius: 3px;
}
.button2_dialog{
     width: auto;
    border: none;  
    padding:10px 20px;
    margin:7px;
    background: var(--primaryColor);
    color: var(--white-black);
     box-sizing: border-box;
    position: relative;
    right:0px;
    bottom: 0px;
    float:left;
    display: inline-block;
    border-radius: 3px;
}

.button1_dialog:hover , .button2_dialog:hover{

    transition: 0.1s;
    cursor: pointer;
    background: var(--buttonTouch);

}