.map {
    cursor: pointer;
    overflow: hidden !important;
    position:absolute;
    right: 0;
}

.map * {
    cursor: auto;
    user-select: none !important;
}
.map {
    opacity: 0;
    /*Элемент полностью прозрачный (невидимый)*/
    animation: show 10ms 1;
    /* Указываем название анимации, её время и количество повторов*/
    animation-fill-mode: forwards;
    /* Чтобы элемент оставался в конечном состоянии анимации */
    animation-delay: 10ms;
    /* Задержка перед началом */
}
@keyframes show {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.map__scrollbar {
    min-height: 100%;
    width: 100%;
    background: none;
    left: 0;
    top: 0;
    position: absolute;
    display: none;
}
.map__view {
    width: 100%;
    background-color: transparent !important ;
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 0;
    -webkit-transition: opacity 0.2s ease-in-out 0.2s, height 0.2s ease-in-out 0.2s;
    -moz-transition: opacity 0.2s ease-in-out 0.2s, height 0.2s ease-in-out 0.2s;
    -o-transition: opacity 0.2s ease-in-out 0.2s, height 0.2s ease-in-out 0.2s;
    transition: opacity 0.2s ease-in-out 0.2s, height 0.2s ease-in-out 0.2s;
}
.map__view:hover {
    background: var(--scroll-color) !important;

}
.map__view.faded {
    opacity: 0;
    -webkit-transition: opacity 0.2s ease-in-out 0.2s, height 0.2s ease-in-out 0.2s;
    -moz-transition: opacity 0.2s ease-in-out 0.2s, height 0.2s ease-in-out 0.2s;
    -o-transition: opacity 0.2s ease-in-out 0.2s, height 0.2s ease-in-out 0.2s;
    transition: opacity 0.2s ease-in-out 0.2s, height 0.2s ease-in-out 0.2s;
}

/*=============================================
=                    animation                =
=============================================*/
.map.transition,
.map.transition>* {
    -moz-transition: opacity 0.2s ease-in-out 0.2s, top 0s;
    -webkit-transition: opacity 0.2s ease-in-out 0.2s, top 0s;
    -o-transition: opacity 0.2s ease-in-out 0.2s, top 0s;
    transition: opacity 0.2s ease-in-out 0.2s, top 0s;
}
.transition.faded {
    opacity: 0;
    -webkit-transition: opacity 0.2s ease-in-out 0.2s, top 0s;
    -moz-transition: opacity 0.2s ease-in-out 0.2s, top 0s;
    -o-transition: opacity 0.2s ease-in-out 0.2s, top 0s;
    transition: opacity 0.2s ease-in-out 0.2s, top 0s;
}
/*=============================================
=            active, hover, focus            =
=============================================*/
